<section id="main" class="main" role="main">
    <div id="loop-container" class="loop-container">
        {{ $pages := .Pages }}
        {{ if .IsHome }}
        {{ $pages = (where .Site.RegularPages "Section" "!=" "") }}
        {{ end }}
        {{ $paginator := .Paginate $pages }}
        {{ range $paginator.Pages }}
        <div
            class="post-6033 post type-post status-publish format-standard hentry category-php8 category-php-usage category-notes tag-match tag-match-expressionswitch tag-php-8 tag-php8 entry">
            <article>
                <div class="post-container">
                    <div class="post-header">
                        <h2 class="post-title">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h2>
                        <div class="post-byline">Published on
                            <a class="date" href="javascript:;">{{ .Date.Format "2006/01/02" }}</a>
                            {{ $author := .Params.Author }}
                            {{ if not $author }}
                            {{ $author = .Site.Author }}
                            {{ end }}
                            {{ if $author }}
                            By 
                            <a class="author" href="javascript:;">{{ $author }}</a></div>
                            {{ end }}
                    </div>
                    <div class="post-content">
                        {{ $description := .Description }}
                        {{ if not $description }}
                        {{ $description = .Summary | truncate 80 }}
                        {{ end }}
                        <p>{{ $description }}</p>
                        {{ if or .Params.Tags .Params.Categories }}
                        <div class="post-categories">
                            {{ if .Params.Tags }}
                            <span>Tags </span>
                            {{ range .Params.Tags }}
                            <a href="/tags/{{ . }}" title="{{ . }}">{{ . }}</a>
                            {{ end }}
                            {{ end }}

                            {{ if .Params.Categories }}
                            <span>Categories </span>
                            {{ range .Params.Categories }}
                            <a href="/categories/{{ . }}" title="{{ . }}">{{ . }}</a>
                            {{ end }}
                            {{ end }}

                            <!-- <i class="fa fa-comment" aria-hidden="true" title="comment icon"></i>
                            with <a href="">30
                                Comments</a></span> -->
                            {{ end }}
                        </div>
                    </div>
            </article>
        </div>
        {{ end }}

    </div>


    <nav class="navigation pagination" role="navigation" aria-label="Posts">
        <h2 class="screen-reader-text">Posts navigation</h2>
        <div class="nav-links">
            {{ if $paginator.HasPrev }}
            <a class="prev page-numbers" href="{{ $paginator.Prev.URL }}">Previous</a>
            {{ end }}
            {{ range $paginator.Pagers }}
            {{ if eq .PageNumber $paginator.PageNumber }}
            <span aria-current="page" class="page-numbers current">{{ .PageNumber }}</span>
            <!-- <span class="page-numbers dots">…</span> -->
            {{ else }}
            <a class="page-numbers" href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ end }}
            {{ end }}
            {{ if $paginator.HasNext }}
            <a class="next page-numbers" href="{{ $paginator.Next.URL }}">Next</a>
            {{ end }}
        </div>
    </nav>
</section> <!-- .main -->